[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pymongo = "*"
python-dotenv = "*"
motor = "*"
fastapi-cors = "*"
email-validator = "*"
python-decouple = "*"
opencv-python = "*"
tensorflow = "*"
keras = "*"
numpy = "*"
pillow = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.12"
